.project-card {
    position: relative;
    border-radius: 1rem;
    z-index: 0;
    overflow: hidden;
    padding: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .project-card::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 2px; /* grosor del borde */
    background: linear-gradient(135deg, #ff4ecb, #ffc857);
    border-radius: inherit;
    z-index: -1;
    mask: 
      linear-gradient(#fff 0 0) content-box, 
      linear-gradient(#fff 0 0);
    mask-composite: exclude;
    -webkit-mask-composite: destination-out;
  }

  .project-card img {
    width: 100%;
    height: 250px;
    border-radius: 0.4rem;
    object-fit: cover;
  }
  .project-card > .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .project-card > .header > div {
    display: flex;
    gap: 1rem;
  }
  
  .project-card > .header > div > a > img {
    width: 20px;
    height: 20px;
    filter: invert(90%);
    transition: all 0.3s ease-in-out;
  }
  
  .project-card > .header > div > a > img:hover {
    transform: scale(1.1);
  }
  
  .project-card > .detail {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .project-card > .detail > .tech {
    color: var(--highlight);
  }