.home {
    padding: 0 8rem;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 3rem;
  }
  
  @media (max-width: 700px) {
    .home {
      padding: 0 2rem;
    }
  }
  
  .home > h1 {
    font-size: 5.5rem;
    background: whitesmoke;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .light h1 {
    background: linear-gradient(to right, #ff4e74, #fe1300, #fe3e67);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
  }
  
  
  .home > a {
    font-size: 1.5rem;
  }