nav {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8rem;
    flex-wrap: wrap;
  }
  
  @media (max-width: 770px) {
    nav {
      padding: 0 2rem;
    }
  }

  .brand-name{
    font-size: 4rem;
    font-weight: 700;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
.brand-name :hover{
  color: var(--highlight);
}

  nav > ul {
    display: flex;
    gap: 3rem;
  }
  
  nav button {
    background: none;
    border: none;
    color: inherit;
    transform: scale(1.5);
  }
  
  nav a {
    transition: all 0.3s ease-in-out;
  }
  
  nav a:hover {
    color: var(--highlight);
  }