@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

:root {
  --primary-dark: whitesmoke;
  --bg-dark: #111111;
  --primary-light: #111111;
  --bg-light: whitesmoke;
  --highlight: #6cace4;
  --divider: rgb(164, 164, 164);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(to right, #ff4e74 0%, #fe1300 50%, #fe3e67 100%);  
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
  color: var(--primary-dark);
  transition: all 0.5s ease-in-out;
}

@keyframes gradientBG {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.light {  
  color: var(--primary-light);
  background: none;
}

main {
  min-height: 80vh;
}

a,
p {
  font-size: 1.1rem;
}